{% if collection.handle == 'desk' %}
  <!-- This is the desk hard coded content! -->
{% endif %}

<div class="collection-group container margin">
  <div class="row">
    <div class="col-sm-9">
      <a href="{{ link.url }}">
        <h2 class="collection-group__title font-din">
          {{ collection.title }}
        </h2>
        <p class="collection-group__desc font-georgia">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
    <div class="col-sm-3">
      {% include 'collection-bullets' %}
    </div>
  </div>
  <!-- /row -->


  <div class="row">
    {% for product in collection.products %}
      {% assign title_lower = collection.title | downcase %}
      <div class="
        collection-image
        {% if title_lower contains 'stands' %}
          col-xs-4
        {% else %}
          col-xs-3
        {% endif %}
      ">
        <a href="{{ product.url | within: collection }}">
          <img class="collection-group__image" src="{{ product.featured_image | img_url: '500x' }}" />
          <p class="font-din product-title">{{ product.title }}</p>
          <p class="font-din product-price">{{ product.price | money }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
