<nav class="header">
  <a name="top"></a>
  <div class="left">
    <a class="font-din" href="/" class="dc-logo">
      <img src="{{ 'dclogo.svg' | asset_url }}" alt="">
      <!-- {{ 'dclogo.svg' | asset_url | img_tag }} -->
    </a>
    <!-- <div class="menu"> -->
      <a class="font-din show-superbar">
        VIEW COLLECTION
        <img src="{{ 'v.svg' | asset_url}}" alt="" class="arrow-down">
      </a>
      <a class="font-din show-superbar">
        DESIGNING DESK COLLECTION
        <img src="{{ 'v.svg' | asset_url}}" alt="" class="arrow-down">
      </a>
      <a class="font-din" href="/">
        CUSTOMER COLLECTIONS
      </a>
    <!-- </div> -->
  </div>
  <a href="/" class="cart">
    <img src="{{ 'cart.svg' | asset_url }}" alt="">
    <!-- {{ 'cart.svg' | asset_url | img_tag }} -->
    <h1 class="font-din">0</h1>
  </a>
</nav>
